// MATES custom SCSS 

$bottom-tabs-height: 150px;

.row.bottom-offset {
	min-height: 50px; 
}

.valign:before {
	height: 150px;
	@include respond(portrait-phones) {
	   height: 90px;
	}
	@include respond(landscape-phones) {
	   height: 60px;
	}
}

table {

	width: 960px / 12 * 7 * 0.9;

	@include respond(landscape-phones) {
	   width: $tablet-device-width * 0.8;
	}

	@include respond(portrait-phones) {
	   width: $min-device-width * 0.8;
	}

	tr td:first-child {
		width: 60px;
		font-weight: bold;
	}

	tr td:nth-child(2) {
		width: 960px / 12 * 7 * 0.9 - 2 * 60px;
		font-weight: regular;
	}

	tr td:nth-child(3) {
		width: 60px;
		font-weight: bold;
	}

}

#loop1-div {
    overflow:auto;
    max-height:250px; 

	@include respond(landscape-phones) {
	   max-height: 200px;
	   min-height: 200px;
	}

	@include respond(portrait-phones) {
	   max-height: 300px;
	   min-height: 300px;
	}
}

.hideme {
	display: none;
}

.hideme.active {
	display: block;
}

.row.bottom {
	max-height:$bottom-tabs-height + $tab-height; 
	min-height:$bottom-tabs-height + $tab-height; 
}

.tab-content.bottom {
	max-height:$bottom-tabs-height; 
	min-height:$bottom-tabs-height; 
	overflow:auto;
}

//  #loop-tables { @include columns(7); }
//  #graph { @include columns(5); }

// goRESPONSIVE!
//  - we consider only phones for now


// elemnts visibility
.not-on-phones {
	@include hidden(all-phones);
}

.only-on-phones {
	@include hidden(desktop);
}

// graph and loops

// input size
@include respond(desktop) {
  .text.input { @include input-size(xwide); }
}

@include respond(landscape-phones) {
  .text.input { @include input-size(wide); }
}

@include respond(portrait-phones) {
  .text.input { @include input-size(normal); }
}




@import "_d3.scss";
